<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Game</title>
	</head>
	<body>
		{{#if logged_in}}
			<a href="/users/sign-out" id="sign-out">Sign Out ({{this.username}})</a> | <a href="/scores">RPS</a> | <a href="/scores/hangman">Hangman</a> | <a href="/scores/quiz">Quiz</a>

			<p class="clear"><strong>logged_in:</strong> {{logged_in}} |
			<strong>user_email:</strong> {{user_email}} |
			<strong>user_id:</strong> {{user_id}} |
			<strong>username:</strong> {{username}}</p>
		{{else}}
			<a href="/users/sign-in">Sign In</a>
			<a href="/users/new">Register</a>
		{{/if}}

		{{{ body }}}
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
		<script src="/assets/js/ajax.js"></script>
		<script src="/assets/js/hangman.js"></script>
	</body>

</html>
